<div class="container">
  <h1 class="text-center">Chat Room</h1>
  <div id="messages" class="messages-area">
    <ul class="list-group">
      <%= render @messages %>
      <span id="last"></span>
    </ul>
  </div>
  <div class="footer">
    <div class="submit-area">
      <div class="inline">
        <div class="form-group">
          <input type="text" id="chat-input" class="form-control">
        </div>
        <button id="button" class="btn btn-primary">送信</button>
      </div>
    </div>
  </div>
</div>
