@import "bootstrap";

html, body {
  height: 100%;
}

body {
  background-color: #fafafa;
}

.container {
  background-color: #7494c0;
  height: 100%;
  padding: 0;
  position: relative;
  border: 1px solid #a4a4a4;
}

h1 {
  background-color: #273246;
  color: #fff;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 100;
}

.messages-area {
  height: 100%;
  padding: 50px 0;
  overflow: auto;
}

.list-group-item {
  background-color: #8de055;
  border-radius: 10px;
}

.footer {
  display: block;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.submit-area {
  width: 95%;
  margin: 0 auto;
}

.inline {
  margin-top: 10px
}

.form-group {
  width: 80%;
  display: inline-block;
}

.btn {
  width: 15%;
  display: inline-block;
  vertical-align: top;
}
